In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
disturbance = pd.read_excel('../data/nsw-assessment-of-grazing-intensity.xlsx', sheet_name='animal disturbance')
print(disturbance.shape)
disturbance.head(3)

(1504, 7)

,Community,Site,Belt_length(m),Belt width (m),Belt_area(m2),Attribute,Count
0,Black box,BLA_001,200,10,200,Kangaroo hip holes,5
1,Black box,BLA_001,200,10,200,Rabbit burrows,0
2,Black box,BLA_001,200,10,200,Rabbit latrines,1

In [5]:
dung = pd.read_excel('../data/nsw-assessment-of-grazing-intensity.xlsx', sheet_name='animal dung')
print(dung.shape)
dung.head(3)

(6019, 7)

   Community         Site   Site.1  Scale    Animal Attribute  Counts
0  Black box  BLA_001_000  BLA_001   0.25  Kangaroo      dung       1
1  Black box  BLA_001_000  BLA_001  25.00       Cow      dung      28
2  Black box  BLA_001_000  BLA_001  25.00  Kangaroo      dung      10

In [6]:
tracks = pd.read_excel('../data/nsw-assessment-of-grazing-intensity.xlsx', sheet_name='tracks')
print(tracks.shape)
tracks.head(3)

(1568, 7)

,Community,Site,Belt_length_m,Animal,Track_width_cm,Track_depth_cm,Track_area_cm2
0,Cypress pine,CYP_002,200,Livestock,30,1.0,30.0
1,Cypress pine,CYP_002,200,Livestock,60,1.0,60.0
2,Cypress pine,CYP_004,200,Livestock,45,1.0,45.0